<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value="http://127.0.0.1:8000"/>
    <add key="Environment" value="Prod"/>
  </appSettings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <!--<services>
            <service name="AICode.Services.LoginService">
                <endpoint address="" binding="basicHttpBinding" contract="AICode.Services.ILoginService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/AICode.Services/LoginService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>-->
    </system.serviceModel>
</configuration>
